[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/ThatOneDamien/msdfgen
	branch = master
[submodule "artery-font-format"]
	path = artery-font-format
	url = https://github.com/Chlumsky/artery-font-format
